# 忽略系统自动生成的文件
.DS_Store
Thumbs.db

# 忽略日志文件
*.log
logs/

# 忽略依赖包 (极其重要，通常体积巨大)
node_modules/
/vendor/

# 忽略编译后的输出文件夹
dist/
build/
out/
bin/
obj/

# 忽略本地配置文件 (包含 API Key 或数据库密码)
.env
.env.local
config/settings.local.php

# 忽略编辑器的缓存和配置
.vscode/
.idea/
*.swp

# 环境
venv

# doc_bench
doc_bench/data
doc_bench/data.zip